/*! ----------------------------- SECTION header ----------------------------- */

.header-section__icon-container > img{
    height:20px;
    width:20px;
}

.login-container__icon-container > img{
    height:20px;
    width:20px;
}

/* !----------------------------- !SECTION header ---------------------------- */

/* !------------------------------ SECTION main ------------------------------ */

/************
 * TOP PART *
 ************/ 
.main-section__top-part{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.84); 
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.84);
    border-radius: 10px;
}

.top-part__right-icon{
    border: 10px solid #0d6efd;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    margin: 20px;
    margin-left: auto;
}

.top-part__left-icon{
    background-color: rgb(227, 236, 236);
    border-radius:10px;
}

.top-part__left-icon > img{
    height:20px;
    width:20px;
}

/***************
 * MIDDLE PART *
 ***************/

.main-section__middle-part{
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.84); 
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.84);
    border-radius: 10px;
}

.middle-part__icon-container{
    background-color: rgb(227, 236, 236);
    border-radius:10px;
}

.middle-part__icon-container > img{
    height:20px;
    width:20px;
}

/***************
 * BOTTOM PART *
 ***************/

.bottom-part__icon-container > img{
    height:20px;
    width:20px;
}

.col-3{
    border-radius:10px;
}

.bg-light{
    background-color: rgb(227, 236, 236) !important;
    border-radius:10px;
}

.bold{
    font-size:18px;
    font-weight: bold;
}

/* !------------------------------ !SECTION main ----------------------------- */

/*! ------------------------------- SECTION map ------------------------------ */

.map-section{
    background-image: url(./Icons/bus-app.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height:55vh;
    position: relative;
}

.map-section__icon-container{
    position: absolute;
    top: 100px;
    right: 80px;
}

.map-section__icon-container > img{
    height:150px;
    width:120px;
}

.map-section__bus-container > img{
    position: absolute;
    top: 45px;
    right: 45px;
    height:35px;
    width:35px;
}

.map-section__indicator-container{
    position: absolute;
    top: 150px;
    right:50px;
    background-color: white;
    border: 5px solid red;
    height:20px;
    width:20px;
    border-radius:50%;
}

/*! ------------------------------ !SECTION map ------------------------------ */